/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp

.vs/Rensource.MerchCommerce/xs/UserPrefs.xml
.vs/Rensource.MerchCommerce/xs/project-cache/Rensource.MerchCommerce.Service-Debug.json

.vs/Rensource.MerchCommerce/xs/project-cache/Rensource.MerchCommerce.Repository-Debug.json

.vs/Rensource.MerchCommerce/xs/project-cache/Rensource.MerchCommerce.Infrastructure-Debug.json

.vs/Rensource.MerchCommerce/xs/project-cache/Rensource.MerchCommerce.Admin-Debug.json

.idea/.idea.Rensource.MerchCommerce/riderModule.iml

.idea/.idea.Rensource.MerchCommerce/.idea/vcs.xml

.idea/.idea.Rensource.MerchCommerce/.idea/projectSettingsUpdater.xml

.idea/.idea.Rensource.MerchCommerce/.idea/modules.xml

.idea/.idea.Rensource.MerchCommerce/.idea/indexLayout.xml

.idea/.idea.Rensource.MerchCommerce/.idea/encodings.xml

.idea/.idea.Rensource.MerchCommerce/.idea/contentModel.xml

.idea/.idea.Rensource.MerchCommerce/.idea/.name

.vs/Rensource.MerchCommerce/xs/project-cache/Rensource.MerchCommerce.Repository-Debug.json~b2640bb884cdc4095d3f011922a5875184608dbd

.vs/Rensource.MerchCommerce/xs/project-cache/Rensource.MerchCommerce.Infrastructure-Debug.json~b2877f14bec1738b6f7020a6c08df246a477b435

.vs/
.vs/Rensource.MerchCommerce/xs/project-cache/Rensource.MerchCommerce.API-Debug.json
.vs/Rensource.MerchCommerce/xs/project-cache/Rensource.MerchCommerce.Data-Debug.json
.vs/Rensource.MerchCommerce/xs/project-cache/Rensource.MerchCommerce.Infrastructure-Debug.json
.vs/Rensource.MerchCommerce/xs/project-cache/Rensource.MerchCommerce.Merchant-Debug.json
.vs/Rensource.MerchCommerce/xs/project-cache/Rensource.MerchCommerce.Repository-Debug.json
/Rensource.MerchCommerce.Merchant/ProductCatlog.xlsx

Rensource.MerchCommerce.Merchant/mono_crash.11a6748113.0.json
